target/
.mvn/repository/
.idea/
*.iml
*.iws
.vscode/
.DS_Store
.git/
.gitignore
.gitattributes
.env
*.env
*.env.*
*.md
**/surefire-reports/
**/failsafe-reports/
**/jacoco/
Dockerfile*
docker-compose*.yml
.dockerignore
.github/
